# System files (just in case you share code across systems)
.DS_Store
Thumbs.db

# Neovim swap/backup/undo files
*.swp
*.swo
*.swn
*.tmp
*~

# If you use Neovim's persistent undo feature and keep undofiles next to code
*.un~

# Trash files (from file managers)
.Trash-*

# (Optional) If you have a 'node_modules' accidentally from anything
node_modules/

